
@model EditPost

<div class="position-relative d-flex">

    <div class="mx-3 position-relative w-50">
        <label asp-for="Post.Title" class="control-label"></label>
        <input asp-for="Post.Title" class="form-control" value="@Model.Post.Title" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
        <br />
        <label asp-for="Post.Address" class="control-label"></label>
        <input asp-for="Post.Address" class="form-control" value="@Model.Post.Address" />
        <span asp-validation-for="Post.Address" class="text-danger"></span>

    </div>

    <div class="position-absolute" style="min-width:100px;right:0px;">
        <div class="d-flex">
            <input asp-for="Post.Price" value="@Model.Post.Price" class="form-control" style="width:100px;" /><span class="w-auto">€/night</span>
        </div>
        <span asp-validation-for="Post.Price" class="text-danger"></span>
        <br />
        <div class="d-flex">
            <img src="/icon/room-icon.png" class="icon-m mr-2" />
            <input asp-for="Post.NBedrooms" class="form-control input-sm" value="@Model.Post.NBedrooms" />
        </div>
        <span asp-validation-for="Post.NBedrooms" class="text-danger"></span>
        <br />
        <div class="d-flex">
            <img src="/icon/bed-icon.png" class="icon-m mr-2" />
            <input asp-for="Post.NBeds" class="form-control input-sm" value="@Model.Post.NBeds" />
        </div>
        <span asp-validation-for="Post.NBeds" class="text-danger"></span>
    </div>

</div>

<div class="container mt-5">

    <div id="imagesParent" class="d-flex flex-wrap accept-policy">
        @if (Model.Post.PostImages != null)
        {
            @foreach (var img in Model.Post.PostImages)
            {
                <div class="position-relative m-1">
                    <img src="@img.FilePath" class="car-img" />
                    <span class="top-left-corner" onclick="removeImgFromPost(@img.Id,this)">&#x274C;</span>
                </div>
            }
        }
    </div>

    <input name="" type="file" accept=".webp,.png,.jpeg,.jpg" onchange="uploadPostImage(this)" class="form-control-file" multiple />

    <script>
        function removeImgFromPost(imgId, element) {
            $.ajax({
                type: 'POST',
                url: '/WorkerPosts/RemovePostImage',
                data: {
                    postId: @Model.Post.Id,
                    postImageId: imgId
                },
                success: function (data) {
                    var group = element.parentElement;
                    group.parentElement.removeChild(group);
                },
                error: function (data) {
                    console.error(data);
                }
            });
        }

        function generateImageDiv(image) {
            var el = document.createElement("div");
            el.classList.add("position-relative");
            el.classList.add("m-1");
            el.innerHTML = '<img src="' + image.filePath + '" class="car-img"/>' +
                '<span class="xCorner" onclick="removeImgFromPost(' + image.id + ',this)">&#x274C;</span>';
            return el;
        }

        function uploadPostImage(element) {
            let formData = new FormData();
            for (f of element.files)
                formData.append('files',f);

            console.log(formData);

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/WorkerPosts/UploadPostImage/' + @Model.Post.Id,
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    var parent = $('#imagesParent');
                    for (var f of data)
                        parent.append(generateImageDiv(f));
                },
                error: function (data) {
                    console.error(data);
                }
            });
        }

    </script>

</div>

<div class="container mt-5">
    <label asp-for="Post.Description" class="control-label"></label>
    <textarea asp-for="Post.Description" class="form-control pre-wrap" value="@Model.Post.Description" rows="5"></textarea>
    <span asp-validation-for="Post.Description" class="text-danger"></span>
</div>

<div class="container">
    <label asp-for="Post.Comodities" class="control-label"></label>
    <div class="" style="column-count: 5;">
        @foreach (var c in Model.Comodities)
        {
            var checkedExtra = "";
            if (Model.Post.Comodities != null && Model.Post.Comodities.Contains(c))
                checkedExtra = "checked";
            <div class="form-check d-block" style="">
                <input class="form-check-input" type="checkbox" value="@c.Id" id="@c.Id" name="Post.Comodities[]" @checkedExtra>
                <label class="form-check-label" for="@c.Id">@c.Name</label>
            </div>
        }
    </div>
    @for (int i = 0; i < Model.Comodities.Count; i += 5)
    {
        <br />
    }
</div>

<div class="container">
    <label asp-for="Post.SpaceCategoryId" class="control-label"></label>
    <select asp-for="Post.SpaceCategoryId" asp-items="Model.SpaceCategories" class="form-control w-auto"></select>
    <span asp-validation-for="Post.SpaceCategoryId" class="text-danger"></span>
</div>