@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EditPost
@{
}
<div class="position-relative d-flex">

    <div class="mx-3 position-relative w-50">
        <label asp-for="Post.Title" class="control-label"></label>
        <input asp-for="Post.Title" class="form-control" value="@Model.Post.Title" />
        <span asp-validation-for="Post.Title" class="text-danger"></span>
        <br />
        <label asp-for="Post.Address" class="control-label"></label>
        <input asp-for="Post.Address" class="form-control" value="@Model.Post.Address" />
        <span asp-validation-for="Post.Address" class="text-danger"></span>

    </div>

    <div class="position-absolute" style="min-width:100px;right:0px;">
        <div class="d-flex">
            <input asp-for="Post.Price" value="@Model.Post.Price" class="form-control" style="width:100px;" /><span class="w-auto">€/night</span>
            @{
                //TODO arranjar problema de não deixarpor numeros com decimas/ponto
            }
        </div>
        <span asp-validation-for="Post.Price" class="text-danger"></span>
        <br />
        <div class="d-flex">
            <img src="/icon/room-icon.png" class="icon-m mr-2" />
            <input asp-for="Post.NBedrooms" class="form-control input-sm" value="@Model.Post.NBedrooms" />
        </div>
        <span asp-validation-for="Post.NBedrooms" class="text-danger"></span>
        <br />
        <div class="d-flex">
            <img src="/icon/bed-icon.png" class="icon-m mr-2" />
            <input asp-for="Post.NBeds" class="form-control input-sm" value="@Model.Post.NBeds" />
        </div>
        <span asp-validation-for="Post.NBeds" class="text-danger"></span>
    </div>

</div>

<div class="container">
    <style>
        .xCorner {
            position: absolute;
            right: 0px;
            left: 0px;
        }
    </style>
    <h4 class="my-5">TODO upload the images</h4>
    @{
        //TODO upload das imagens
    }
    <div id="imagesParent">
        @foreach (var img in Model.Post.PostImages)
        {
            <div class="position-relative">
                <img src="@img.FilePath" class="car-img" />
                <span class="xCorner" onclick="removeImgFromPost(@img.Id,this)">&#x274C;</span>
            </div>
        }

    </div>

    <input name="" type="file" accept=".webp,.png,.jpeg,.jpg" multiple onchange="uploadPostImage(this)" />

    <script>
        function removeImgFromPost(imgId, element) {
            var group = element.parentElement;
            group.parentElement.removeChild(group);
            $.ajax({
                type: 'POST',
                url: '/Worker/RemovePostImage',
                data: {
                    postId: @Model.Post.Id,
                    postImageId: imgId
                }
            });
        }

        function uploadPostImage(element) {
            let formData = new FormData();
            //var d = $(element)[0].files;
            //formData.append('files', d);
            //formData.append('files', d);
            console.log(element);
            for (f of element.files) {
                console.log(f);
                formData.append('files',f);
            }

            console.log(formData);

            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/Worker/UploadPostImage/' + @Model.Post.Id,
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);
                    var parent = $('imagesParent');
                    for (var f of data) {

                        //var newImg = $(```<div class="position-relative">
                        //    <img src="${f.filePath}" class="car-img" />
                        //    <span class="xCorner" onclick="removeImgFromPost(${f.id},this)">&#x274C;</span>
                        //</div>```);

                        var el = document.createElement("div");
                        el.classList.add("position-relative");
                        el.innerHTML = ```<img src="${f.filePath}" class="car-img" />
                            <span class="xCorner" onclick="removeImgFromPost(${f.id},this)">&#x274C;</span>```;
                        //TODO falta conseguir mostrar as novas imagens e meter isso lindo, mas faz upload e remove
                        parent.append(newImg);
                    }
                 }
            });
        }



    </script>

</div>

<div class="container mt-5">
    @{
        //TODO arranjar as mudanças de linha
    }
    <label asp-for="Post.Description" class="control-label"></label>
    <textarea asp-for="Post.Description" class="form-control" value="@Model.Post.Description" rows="5"></textarea>
    <span asp-validation-for="Post.Description" class="text-danger"></span>
</div>

<div class="container">
    <label asp-for="Post.Comodities" class="control-label"></label>
    <div class="container">
        @foreach (var c in Model.Comodities)
        {
            var checkedExtra = "";
            if (Model.Post.Comodities != null && Model.Post.Comodities.Contains(c))
                checkedExtra = "checked";
            <div class="form-check d-block float-left" style="width:20%;">
                <input class="form-check-input" type="checkbox" value="@c.Id" name="Post.Comodities[]" @checkedExtra>
                <label class="form-check-label" for="flexCheckDefault">@c.Name</label>
            </div>
        }
    </div>
    @for (int i = 0; i < Model.Comodities.Count; i += 5)
    {
        <br />
    }
</div>

<div class="container">
    <label asp-for="Post.PropertyType" class="control-label"></label>
    <select asp-for="Post.PropertyType" class="form-control w-auto">
        @foreach (var e in PropertyType.Types)
        {
            if (Model.Post.PropertyType == e.Value)
            {
                <option value="@e.Value" selected>@e.Name</option>
            }
            else
            {
                <option value="@e.Value">@e.Name</option>
            }
        }
    </select>
    <span asp-validation-for="Post.PropertyType" class="text-danger"></span>
</div>

<div class="container">
    <label asp-for="Post.AvailabilityType" class="control-label"></label>
    <select asp-for="Post.AvailabilityType" class="form-control w-auto">
        @foreach (var e in AvailabilityType.Types)
        {
            if (Model.Post.AvailabilityType == e.Value)
            {
                <option value="@e.Value" selected>@e.Name</option>
            }
            else
            {
                <option value="@e.Value">@e.Name</option>
            }
        }
    </select>
    <span asp-validation-for="Post.AvailabilityType" class="text-danger"></span>
</div>