@model MyAirbnb.Models.Post

@{
    ViewData["Title"] = "Details";
}

@{ var m = Model;}

<svg style="display: none" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="" viewBox="0 0 16 16">
    <defs>
        <symbol id="svg-star" viewBox="0 0 16 16">
            <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
        </symbol>
    </defs>
</svg>

<div class="container">

    <div class="position-relative d-flex">

        <div class="mx-3 position-relative w-75">
            <h3>@m.Title</h3>
            <h5>@m.Address</h5>

            @{await Html.RenderPartialAsync("RatingPartial", m.Rating); }
        </div>

        <div class="position-absolute" style="min-width:100px;right:0px;">
            <span class="w-auto">@m.Price€/night</span>
            <br />
            <p class="d-inline-block">
                <img src="/icon/room-icon.png" class="icon-m" />
                <span class="ml-1">@m.NBedrooms</span>
            </p>
            <span class="mx-1">&#124;</span>
            <p class="d-inline-block">
                <span class="mr-1">@m.NBeds</span>
                <img src="/icon/bed-icon.png" class="icon-m" />
            </p>
            <br />
            <p class="d-inline-block">
                <a class="btn page-link" asp-controller="User" asp-action="CreateReservation" asp-route-id="@m.Id">Reserve</a>
            </p>

        </div>

    </div>

    @if (m.PostImages != null && m.PostImages.Count > 0)
    {
        <div id="carousel" class="carousel slide w-75 mx-auto mt-4" data-ride="carousel">

            <ol class="carousel-indicators">
                @for (int i = 0; i < m.PostImages.Count; i++)
                {
                    <li data-target="#carousel" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < m.PostImages.Count; i++)
                {
                    var extra = "";
                    if (i == 0) extra = "active";
                    <div class="carousel-item @extra">
                        <img src="@m.PostImages[i].FilePath" class="details-post-image" />
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    }

    @{
        //TODO mostrar tipo de propriedade
    }
    <div class="container mt-5">
        <h4>Description</h4>
        <p>@m.Description</p>
    </div>

    <div class="container">
        <p class="mb-1">Comodities</p>
        <div class="d-flex w-100">
            @foreach (var c in m.Comodities)
            {
                <span class="rounded btn-sm btn-info mr-1">@c.Name</span>
            }
        </div>
    </div>



    <div class="container mt-5">
        <h4>Comments :</h4>
        @if (m.Comments != null && m.Comments.Count > 0)
        {
            @foreach (var c in m.Comments)
            {
                <p>@c.User.UserName : @c.Text</p>
            }
        }
        else
        {
            <p>There are no comments yet.</p>
        }
    </div>

</div>
