@model MyAirbnb.Models.Post

@{
    ViewData["Title"] = "Details";
}

@{ var m = Model;}

<div class="container">

    <div class="position-relative d-flex">

        <div class="mx-3 position-relative w-75">
            <h3>@m.Title</h3>
            <h5>@m.Address</h5>

            @{await Html.RenderPartialAsync("_RatingPartial", m.Rating); }
        </div>

        <div class="position-absolute" style="text-align: right;min-width: 100px; right: 0px;">
            <span>@m.Price€/night</span>
            <br />
            <div class="d-inline-block mt-3">
                <p class="d-inline-block">
                    <img src="/icon/room-icon.png" class="icon-m" />
                    <span class="ml-1">@m.NBedrooms</span>
                </p>
                <span class="mx-1">&#124;</span>
                <p class="d-inline-block">
                    <span class="mr-1">@m.NBeds</span>
                    <img src="/icon/bed-icon.png" class="icon-m" />
                </p>
            </div>
            <br />
            <p class="d-inline-block">
                <a class="btn page-link" asp-controller="ClientReservations" asp-action="Create" asp-route-id="@m.Id">Reserve</a>
            </p>

        </div>

    </div>

    @if (m.PostImages != null && m.PostImages.Count > 0)
    {
        <div id="carousel" class="carousel slide w-75 mx-auto mt-4" data-ride="carousel">

            <ol class="carousel-indicators">
                @for (int i = 0; i < m.PostImages.Count; i++)
                {
                    <li data-target="#carousel" data-slide-to="@i"></li>
                }
            </ol>
            <div class="carousel-inner">
                @for (int i = 0; i < m.PostImages.Count; i++)
                {
                    var extra = "";
                    if (i == 0) extra = "active";
                    <div class="carousel-item @extra">
                        <img src="@m.PostImages[i].FilePath" class="details-post-image" />
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    }

    <div class="container mt-5">
        <h4>Space Category</h4>
        <p class="mb-1">@m.SpaceCategory.Name</p>
    </div>
    <div class="container">
        <h4>Description</h4>
        <p style="white-space: pre-wrap;">@m.Description</p>
    </div>

    <div class="container">
        <p class="mb-1">Comodities</p>
        <div class="d-flex w-100">
            @foreach (var c in m.Comodities)
            {
                <span class="rounded btn-sm btn-info mr-1">@c.Name</span>
            }
        </div>
    </div>



    <div class="container mt-5">
        <h4>Comments :</h4>
        @if (m.Comments != null && m.Comments.Count > 0)
        {
            @foreach (var c in m.Comments)
            {
                <p>@c.User.UserName : @c.Text</p>
            }
        }
        else
        {
            <p>There are no comments yet.</p>
        }
    </div>

</div>
